body {
  font-family: sans-serif;
}

.first {
  background-color: #f6f6f6;
  /* margin-left: 10%; */
  height: 1000px;
  /* width: 80%; */
  color: black;
  border-radius: 10px;
}

.row {
  padding: 20px 10px 20px 170px;
}

.space {
  left: 50%;
  position: absolute;
}

.button {
  left: 40%;
  position: absolute;
}

.submit-btn {
  margin-left: 45%;
}

input[type="text"] {
  border-radius: 4px;
  outline: none;
  padding: 8px 40px;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: #f6f6f6;
}

input[type="text"]:focus {
  border-color: #a2d5f2;
  box-shadow: 0 0 8px 0 #a2d5f2;
}

.inputWithIcon {
  position: relative;
  top: -25px;
  left: 50%;
}

i {
  position: relative;
  right: 244px;
  top: 1.5px;
  background-color: #f6f6f6;
  padding: 8px;
  border-radius: 4px 0 0 4px;
}

.second {
  background-color: #f6f6f6;
  /* margin-left: 10%; */
  height: 1300px;
  /* width: 80%; */
  color: black;
  border-radius: 10px;
}

.inside {
  width: 70%;
  height: 900px;
  /* position: relative; */
  margin: auto;
  left: 15%;
}

.btn2 {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.buttons {
  position: relative;
  top: -40px;
  left: 60%;
}

.btn2:hover {
  color: white;
  background-color: #007bff;
}

.line {
  position: relative;
  top: -35px;
  color: #e8e8e8;
}

.jumbotron {
  background-color: #dbe3e5;
  width: 100%;
  height: 400px;
  border-radius: 5px;
}

.jumboTitle {
  text-align: center;
  position: relative;
  top: 30px;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}

.jumboPara {
  text-align: center;
  margin: 20px;
}

.sign-btn-div {
  margin-left: 45%;
}

.signUp {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: 400;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  /* position: relative;
  left: 43%; */
}

.signUp:hover {
  background-color: #006400;
}

.demo-btn-div {
  margin-left: 42.5%;
  margin-top: 20px;
}

.demoBtn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: 400;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
}

.demoBtn:hover {
  background-color: #00008b;
}

.subHeading {
  width: 45%;
  height: auto;
}

.subHeading2 {
  width: 45%;
  height: auto;
  /* position: relative;
  left: 55%;
  top: -350px; */
}

.container-jumbo {
  display: grid;
  grid-template-columns: auto auto;
  /* padding: 10px 25% 100px 20%; */
  padding-left: 20px;
}

.album {
  background-color: white;
  width: 200px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, .125);
}

.image-inside {
  background-image: url("2.jpg");
  background-size: 199px 125px;
  width: 100.5%;
  height: 125px;
}

.text-inside {
  width: 89%;
  height: 150px;
  padding: 10px;
}

.addBtn {
  position: relative;
  top: -43px;
  left: 80px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: 200;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 0.8rem;
  line-height: 1;
}

.addBtn:hover {
  background-color: #006400;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 100px 25% 100px 20%;
  grid-gap: 20px;
}

/* media querries */
@media screen and (max-width:560px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    padding: 100px 25% 100px 20%;
    grid-gap: 20px;
  }

  .container-jumbo {
    display: grid;
    grid-template-columns: auto;
    /* padding: 10px 25% 100px 20%; */
    padding-left: 20px;
  }

  .jumbotron {
    height: 400px;
  }

  .jumboPara {
    text-align: center;
    font-size: 0.7rem;
  }

  .jumboTitle {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
  }

  .signUp {
    left: 15%;
    font-size: 0.7rem;
  }

  .demoBtn {
    font-size: .75rem;
  }
}

@media screen and (max-width:770px) {
  .second {
    height: 2500px;
  }
}

@media screen and (max-width:850px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 100px 25% 100px 20%;
    grid-gap: 20px;
  }
}
