.name{
  font-weight:lighter;
  text-align: center;
}

.table{
  margin-left: 38%;
}

.border{
  margin-left: 10%;
  margin-bottom: 25px;
  margin-right: 10%;
  text-align: justify;
}
.color{
  color: #00416d;
}
