body{
  padding: 100px;
  background-color: #eeeeee;
}

.cards{
  margin-bottom: 20px;

}

img{
  height: 200px;
  
}

header{
  text-align: center;
  margin-bottom: 50px;
  font-family:sans-serif;
}
